@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #1c1c1c;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #1c1c1c;
  }
}

body {
  background-color: var(--foreground-rgb);
  color: var(--foreground-rgb);
  color: white;
}
/* Custom scrollbar style */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rebeccapurple;
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: transparent;
}
